In [1]:
import pandas as pd

In [2]:
df_event = pd.read_csv("D:\Tugas\Matkul\sem 7\sempro\dataset\events.csv")

In [3]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [4]:
df_event.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [5]:
jumlah_user_unik = df_event['visitorid'].nunique()
jumlah_item_unik = df_event['itemid'].nunique()

print(f"Jumlah Pengguna Unik (visitorid): {jumlah_user_unik:,}")
print(f"Jumlah Item Unik (itemid): {jumlah_item_unik:,}")

Jumlah Pengguna Unik (visitorid): 1,407,580
Jumlah Item Unik (itemid): 235,061

In [6]:
jumlah_event = df_event['event'].value_counts()
print(jumlah_event)

persentase_event = df_event['event'].value_counts(normalize=True) * 100
print(f"\n{persentase_event.round(2).astype(str) + ' %'}")

view           2664312
addtocart        69332
transaction      22457
Name: event, dtype: int64

view           96.67 %
addtocart       2.52 %
transaction     0.81 %
Name: event, dtype: object

In [7]:
missing_values = df_event.isnull().sum()
print(missing_values)

timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

In [8]:
df_event.duplicated(subset=['visitorid', 'itemid', 'event', 'timestamp']).sum()

460

In [14]:
duplikat_detail = (
    df_event.groupby(['visitorid', 'itemid', 'event', 'timestamp'])
      .size()
      .reset_index(name='count')
      .query('count > 1')
      .sort_values('count', ascending=False)
)

duplikat_detail.head(10)

         visitorid  itemid      event      timestamp  count
1867265     951289    5190       view  1438650539084      3
2267544    1152713  427254       view  1435308445514      3
1374           745  246164  addtocart  1440547735041      2
1870163     952484  283839       view  1432776301374      2
1868347     951852  359778  addtocart  1441771632726      2
1867249     951289    5190       view  1437949735657      2
1863175     949142  369158  addtocart  1436803593800      2
1861388     948127    5473  addtocart  1439585920878      2
1856625     945529  380212  addtocart  1439332440526      2
1847824     940921  248733  addtocart  1440955161679      2

In [15]:
#delete
df_event = df_event.drop_duplicates(subset=['visitorid', 'itemid', 'event', 'timestamp'])

#cek
df_event.duplicated(subset=['visitorid', 'itemid', 'event', 'timestamp']).sum()

0

In [16]:
jumlah_user_unik = df_event['visitorid'].nunique()
jumlah_item_unik = df_event['itemid'].nunique()

print(f"Jumlah Pengguna Unik (visitorid): {jumlah_user_unik:,}")
print(f"Jumlah Item Unik (itemid): {jumlah_item_unik:,}")

Jumlah Pengguna Unik (visitorid): 1,407,580
Jumlah Item Unik (itemid): 235,061

In [17]:
jumlah_event = df_event['event'].value_counts()
print(jumlah_event)

persentase_event = df_event['event'].value_counts(normalize=True) * 100
print(f"\n{persentase_event.round(2).astype(str) + ' %'}")

view           2664218
addtocart        68966
transaction      22457
Name: event, dtype: int64

view           96.68 %
addtocart        2.5 %
transaction     0.81 %
Name: event, dtype: object

In [18]:
score_mapping = {
    'view': 1,
    'addtocart': 2,
    'transaction': 3
}

df_event = df_event.copy()
df_event['rating'] = df_event['event'].map(score_mapping)

df_event.head()

       timestamp  visitorid event  itemid  transactionid  rating
0  1433221332117     257597  view  355908            NaN       1
1  1433224214164     992329  view  248676            NaN       1
2  1433221999827     111016  view  318965            NaN       1
3  1433221955914     483717  view  253185            NaN       1
4  1433221337106     951259  view  367447            NaN       1

In [19]:
df_event['rating'].value_counts()

1    2664218
2      68966
3      22457
Name: rating, dtype: int64

In [20]:
df_event.to_csv('Interaction_Data.csv', index=False)