In [1]:
import pandas as pd

In [2]:
df_cat = pd.DataFrame({
    'category': ('Elektronik', 
    'Fashion', 
    'Buku', 
    'Rumah Tangga', 
    'Kesehatan & Kecantikan', 
    'Olahraga', 
    'Otomotif', 
    'Mainan & Hobi')
})

df_cat.head(8)

                 category
0              Elektronik
1                 Fashion
2                    Buku
3            Rumah Tangga
4  Kesehatan & Kecantikan
5                Olahraga
6                Otomotif
7           Mainan & Hobi

In [3]:
df_cat.to_csv('Category_Data.csv', index=False)